{% set caresynBold      = config("Caresyn.caresyn.string.bold") %}
{% set caresynItalic    = config("Caresyn.caresyn.string.italic") %}
{% set caresynName      = config("Caresyn.caresyn.name") %}


        <div class="row">
            <div class="col-lg-6 col-slg-offset-3">

            {% if caresynBold == '1' %}
                <b>Hello {{ caresynName }} bei Caresyn!</b>
            {% else %}
                <b>Hello {{ caresynName }} bei Caresyn!</b>
            {% endif %}

            </div>
        </div>